h1 {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 50px;
  padding-top: calc(17vh - 25px);
  color: #fff;
}

p {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
  padding-top: 40px;
}

footer {
  width: 100vw;
  height: auto;
  position: fixed;
  bottom: 50px;
  text-align: center;
}

footer p {
  font-size: 15px;
}

.slideshow {
  width: 100vw;
  height: 34vh;
  margin: auto;
  /*background-image: url(../img/);*/
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: background-image 1s;
}
